@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');
html {
  scroll-behavior: smooth;
}

#width{
    width: 350px;
   
}
.moving-right-down
{

  position: relative;
  transition: transform 0.3s ease;
  transform: translateX(0px);

}
.moving-right-down:hover
{
    transform: translate(40px, 40px);
}

.moving-right-top
{

  position: relative;
  transition: transform 0.3s ease;
  transform: translateY(0px);
 

}
.moving-right-top:hover
{
    transform: translate(0px, -40px);
}
.zoom
{

  position: relative;
  transition: transform 0.3s ease;
  transform: translateY(0px);
 

}
.zoom:hover
{
    transform: scale(1.05);
}
ul{
  font-size: 18px;
  font-weight: bold;
}


h1,span,h2{
    font-family: 'Poppins', sans-serif;
}
h5{
  font-family: 'Poppins', sans-serif;
}










